<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Movies App!</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/jumbotron.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap/ie-emulation-modes-warning.js') }}"></script>


</head>

<!--Redirect if user not in session -->
{% if not session['user'] %}
    <meta http-equiv="refresh" content="0;URL=/">
{% endif %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Movies App</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/homeUtente/">Home</a></li>
            <li><a href="/userPage/">User Page</a></li>
            <li><a href="/logout/">Logout</a></li>
        </ul>
        <form class="navbar-form navbar-right" action="/searchFilm/" method="post">
            <div class="form-group">
                <input type="text" name="search" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Search Film</button>
        </form>
    </div>
</nav>



{% if session['user'] %}


    <h3 style="text-align: center">{{ (session['user']['name']) }} {{ (session['user']['surname']) }} it was not
        possible to define your personality
        through the survey... To help us in the future suggestions, please select
        {% if number < 5 %}{{ 5 - number }}{% endif %} {% if number > 5 %}5{% endif %} of this genres</h3><br>

    <input type="text" id="number"
           value="{% if number < 5 %}{{ 5 - number }}{% endif %} {% if number > 5 %}5{% endif %}"
           style="visibility: hidden">


    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
        <table class="table table-striped table-hover ">
            <tbody>
            <tr class="active">
                <td><input type="checkbox" name="comedy" value="comedy" id="1"{% if pref.__contains__("comedy") %}disabled="true"{% endif %}> comedy</td>
                <td><input type="checkbox" name="action" value="action" id="10"{% if pref.__contains__("action") %}disabled="true"{% endif %}> action</td>

            </tr>
            <tr class="active">
                <td><input type="checkbox" name="horror" value="horror" id="2"{% if pref.__contains__("horror") %}disabled="true"{% endif %}> horror</td>
                <td><input type="checkbox" name="musical" value="musical" id="11"{% if pref.__contains__("musical") %}disabled="true"{% endif %}> musical</td>

            </tr>
            <tr class="active">
                <td><input type="checkbox" name="animation" value="animation" id="3" {% if pref.__contains__("animation") %}disabled="true"{% endif %}> animation</td>
                <td><input type="checkbox" name="sci-fi" value="sci-fi" id="12"{% if pref.__contains__("sci-fi") %}disabled="true"{% endif %}> sci-fi</td>

            </tr>
            <tr class="active">
                <td><input type="checkbox" name="children" value="children" id="4"{% if pref.__contains__("children") %}disabled="true"{% endif %}> children</td>
                <td><input type="checkbox" name="fantasy" value="fantasy" id="13"{% if pref.__contains__("fantasy") %}disabled="true"{% endif %}> fantasy</td>

            </tr>

            <tr class="active">
                <td><input type="checkbox" name="romance" value="romance" id="5"{% if pref.__contains__("romance") %}disabled="true"{% endif %}> romance</td>
                <td><input type="checkbox" name="thriller" value="thriller" id="14"{% if pref.__contains__("thriller") %}disabled="true"{% endif %}> thriller</td>

            </tr>
            <tr class="active">
                <td><input type="checkbox" name="film-noir" value="film-noir" id="6"{% if pref.__contains__("film-noir") %}disabled="true"{% endif %}> film-noir</td>
                <td><input type="checkbox" name="crime" value="crime" id="15"{% if pref.__contains__("crime") %}disabled="true"{% endif %}> crime</td>

            </tr>
            <tr class="active">
                <td><input type="checkbox" name="drama" value="drama" id="7"{% if pref.__contains__("drama") %}disabled="true"{% endif %}> drama</td>
                <td><input type="checkbox" name="mistery" value="mistery" id="16"{% if pref.__contains__("mistery") %}disabled="true"{% endif %}> mistery</td>

            </tr>
            <tr class="active">
                <td><input type="checkbox" name="war" value="war" id="8"{% if pref.__contains__("war") %}disabled="true"{% endif %}> war</td>
                <td><input type="checkbox" name="documentary" value="documentary" id="17"{% if pref.__contains__("documentary") %}disabled="true"{% endif %}> documentary</td>

            </tr>
            <tr class="active">
                <td><input type="checkbox" name="adventure" value="adventure" id="9"{% if pref.__contains__("adventure") %}disabled="true"{% endif %}> adventure</td>

            </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
    </div>

    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
        <form action="/updateFilmsPreferences/" method="post" onsubmit="return validateChoosePreferences()"
              name="updateFilmsPreferences" id="updateFilmsPreferences">
            <input type="text" name="preferences" id="preferences" style="width:77px; visibility: hidden;">
            <button type="submit" class="btn btn-primary btn-lg">Save changes</button>
        </form>
    </div>

    <script>
        function validateChoosePreferences() {
            var preferences = []
            var number = parseInt(document.getElementById("number").value)

            for (var id = 1; id < 18; id++) {
                if ($("#" + id)[0].checked) {
                    preferences.push($("#" + id).val())
                }
            }

            if (preferences.length != number) {
                alert("Choose " + number + " genres!")
                return false
            }
            else if (preferences.length <= number) {
                document.forms["updateFilmsPreferences"]["preferences"].value = preferences
                return true
            }
        }
    </script>


{% endif %}


<div class="col-lg-12">
    <footer>
        <p style="text-align: center">&copy; 2017 JavaComeLava</p>
    </footer>
</div>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
</body>
</html>
