<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Movies App!</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/mediaSlider.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jumbotron.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap/ie-emulation-modes-warning.js') }}"></script>
      <script type="text/javascript">
        function submitform() {   document.myform.submit(); }
   </script>


</head>

<!--Redirect if user not in session -->
{% if not session['user'] %}
    <meta http-equiv="refresh" content="0;URL=/">
{% endif %}

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Movies App</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/homeUtente/">Home</a></li>
      <li ><a href="/userPage/">User Page</a></li>
      <li ><a href="/logout/">Logout</a></li>
    </ul>
    <form class="navbar-form navbar-right" action="/searchFilm/" method="post">
      <div class="form-group">
        <input type="text" name="search" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Search Film</button>
    </form>
  </div>
</nav>

<br>
<br>
<div class="container">
  <div class="row">
    <h4>Chosen for the way you are...</h4>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner">
          {% for index in range(0,movieId|length) %}
          <div class="item {% if index==0 %}active{% endif%}">

            <div class="row">
              {% for m in movieId[index] %}
              <div class="col-md-3">
                  <form action="/movie/" method="post" class="navbar-form navbar-right">
                    <input type="text" hidden="true" id="movieid" name="movieid" value="{{m[2]}}">
                <a class="thumbnail" href="#" onclick="this.parentNode.submit()"><img alt="" src="{{m[1]}}">{{m[0]}}</a>

                      </form>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control">›</a>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12">
<footer>
    <p style="text-align: center">&copy; 2017 JavaComeLava</p>
</footer>
</div>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
</body>
</html>
