<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Movies App!</title>

    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/jumbotron.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap/ie-emulation-modes-warning.js') }}"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/star-rating.css" media="all" type="text/css"/>
    <link rel="stylesheet" href="../static/css/themes/krajee-fa/theme.css" media="all" type="text/css"/>
    <link rel="stylesheet" href="../static/css/themes/krajee-svg/theme.css" media="all" type="text/css"/>
    <link rel="stylesheet" href="../static/css/themes/krajee-uni/theme.css" media="all" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../static/js/star-rating.js" type="text/javascript"></script>
    <script src="../static/js/themes/krajee-fa/theme.js" type="text/javascript"></script>
    <script src="../static/js/themes/krajee-svg/theme.js" type="text/javascript"></script>
    <script src="../static/js/themes/krajee-uni/theme.js" type="text/javascript"></script>


    


</head>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Movies App</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/homeUtente/">Home</a></li>
      <li ><a href="/userPage/">User Page</a></li>
      <li ><a href="/logout/">Logout</a></li>
    </ul>
    <form class="navbar-form navbar-right" action="/searchFilm/" method="post">
      <div class="form-group">
        <input type="text" name="search" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Search Film</button>
    </form>
  </div>
</nav>



<br>
<br>

 <div class="row">
        <div class="col-lg-3">
        </div>

        <div class="col-lg-6" >
            <div class="well bs-component">
                <form class="form-horizontal" action="/registration/" id="registration" name="registration" onsubmit="return validateRegistration()" method="post">
                    <fieldset>
                        <legend><h1>Get Out (2017)</h1></legend>
	<div class="row">
   				<div class="col-xs-5 item-photo">
                    <img style="max-width:100%;" src="https://images-na.ssl-images-amazon.com/images/M/MV5BNTE2Nzg1NjkzNV5BMl5BanBnXkFtZTgwOTgyODMyMTI@._V1_SY1000_CR0,0,631,1000_AL_.jpg"/>
                </div>

                <div class="col-xs-7" style="border:3px solid gray">
                    <!-- Datos del vendedor y titulo del producto -->
                    <p>A young African-American man visits his Caucasian girlfriend's mysterious family estate.</p>
                    <li>Director:</li>
                    <li>Writer:</li>
                    <li>Stars:</li>
                    <li>Release Date::</li>   
                    <li>Genres.</li>  
                    <br>                                 
                </div> 
                
                <div class="col-xs-12" align="center">
                
                <br>
                       <label for="input-1" class="control-label">Rate This</label>
				            <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="5" data-step="1">
                        <br>
                        <br>
                        <!-- Per prendere il valore delle stelle cliccate-->
                        <script>
                        $('#input-1').on('rating.change', function(event, value, caption) {
                            $.getJSON('/rateFilm/'+value)
                            console.log(value);
                            console.log(caption);
                        });
                        </script>
                     </div>



                    <div class="col-xs-12" style="width:100%;border-top:1px solid silver" align="center">
                        <ul class="menu-items">
                            <h3>Trailer</h3>
                        </p>

                        <iframe src="http://www.imdb.com/video/imdb/vi2005186073/imdb/embed?autoplay=false&width=480" width="480" height="270" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" frameborder="no" scrolling="no"></iframe>
						</ul>
                    </div>

                    <div class="col-xs-12" style="width:100%;border-top:1px solid silver" align="center">
                            <h3>Storyline</h3>
                                            <ul class="menu-items">

                        </p>

						A young African American man visits his European American girlfriend's family estate where he learns that many of its residents, who are black, have gone missing, and he soon learns the horrible truth when another frantic African-American warns him to "get out". He soon learns this is easier said than done.                        
						</ul>  
                    </div>
	</div>

  </fieldset>
                </form>
            </div>
        </div>

    </div>

<br>
<br>

<div class="col-lg-12">
<footer>
    <p style="text-align: center">&copy; 2017 JavaComeLava</p>
</footer>
</div>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
