<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Movies App!</title>

    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/jumbotron.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap/ie-emulation-modes-warning.js') }}"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/star-rating.css" media="all" type="text/css"/>
    <link rel="stylesheet" href="../static/css/themes/krajee-fa/theme.css" media="all" type="text/css"/>
    <link rel="stylesheet" href="../static/css/themes/krajee-svg/theme.css" media="all" type="text/css"/>
    <link rel="stylesheet" href="../static/css/themes/krajee-uni/theme.css" media="all" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../static/js/star-rating.js" type="text/javascript"></script>
    <script src="../static/js/themes/krajee-fa/theme.js" type="text/javascript"></script>
    <script src="../static/js/themes/krajee-svg/theme.js" type="text/javascript"></script>
    <script src="../static/js/themes/krajee-uni/theme.js" type="text/javascript"></script>


</head>

<!--Redirect if user not in session -->
{% if not session['user'] %}
    <meta http-equiv="refresh" content="0;URL=/">
{% endif %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" >Movies App</a>
        </div>
    </div>
</nav>



{% if session['user'] %}

    <h3 style="text-align: center">{{ (session['user']['name']) }} {{ (session['user']['surname']) }}, to complete your
        registration please rate this films</h3><br>

{% endif %}

<div class="col-lg-3">

</div>
<div class="col-lg-6">

    <form class="form-horizontal" action="/rateFilm/" onsubmit="return verifyCheckFilms()" id="rating" name="rating" method="post">

        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>#</th>
                <th>Films</th>
                <th>Rate films</th>
            </tr>
            </thead>

            <tbody>
            <script>var cont = 0</script>
            {% for index in films %}
                {% if index != None %}
                <script>cont++</script>
                <tr class="danger">
                    <td>{{ loop.index }}</td>
                    <td>{{ index['title'] }}<br>
                        <div class="col-xs-10">
                            <img style="max-width:100%;" src="{{ (moviesDetail[index['movieId']|string])[1] }}"/>
                        </div>
                    </td>
                    <td>
                        <div class="col-xs-12" align="center">
                            <br>
                            <label for="{{ "input-" ~ loop.index }}" class="control-label">Rate This</label>
                            <input id="{{ "input-" ~ loop.index }}" name="{{ "input-" ~ loop.index }}" class="rating rating-loading"
                                   data-min="0" data-max="5"
                                   data-step="1" >
                            <input type="text" value="{{index['movieId']}}" id="{{ loop.index }}" style="visibility: hidden"/>
                            <br>
                            <br>
                            <!-- Per prendere il valore delle stelle cliccate-->
                            <script>
/*                                $('#input-1').on('rating.change', function (event, value, caption) {
                                    $.getJSON('/rateFilm/' + value)
                                    console.log(value);
                                    console.log(caption);
                                });*/
                            </script>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            <br>
            <br>

            </tbody>

        </table>
                    <div class=" form-group">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <button type="submit" name="submit" class="btn btn-primary">Send ratings!</button>
                </div>
                <div class="col-lg-4">
                </div>
            </div>
    </form>
</div>



<script>
function verifyCheckFilms(){
    var ratings = ""
    for(var i=1; i<=cont; i++){
        if($('#input-'+i).val() != "") {
            ratings += ""+document.getElementById(i).value+":"+$('#input-'+i).val()+","
        }
    }
    ratings = ratings.substring(0,ratings.length-1)
    var form = document.getElementById("rating");
    var input = document.createElement("input")
    input.type = "text";
    input.style.visibility="hidden"
    input.value = ratings
    input.name = "film-ratings"
    input.id = "film-ratings"
    form.appendChild(input)
    return true
}
</script>
<div class="col-lg-12">
    <footer>
        <p style="text-align: center">&copy; 2017 JavaComeLava</p>
    </footer>
</div>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
</body>
</html>
